
<table>
<th><h2 ><font color = "blue"><%= @article.title %></h2></th> 
<th><h4> Published on: <%= @article.published_date %></h4></th>
</table>
<p><%=  @article.body %></p>

<p><h2>Add comment</h2><br/>
<%= form_for @comment do |f| %>

	<%= f.label :body%> <br/>
	<%= f.text_area :body %>
	<%= f.hidden_field :article_id, value: @article.id%>


	<%= f.submit %>

<% end %></p>
<p>
<% @article.comments.each do |comment| %>
<b> @<%=  comment.user.username %> </b> <br/>

<%= comment.body %><br/>
<%end%></p>










